* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(17, 17, 17);
    color: white;
}

img {
    width: 100%;
    display: block;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

main {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
}

#carousel {
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

#focus-card {
    /* background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url(../img/brooklyn99.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-end;
    text-align: end;
    width: calc(100% - 200px);
    padding: 40px;
    padding-left: 100px;
}

/* .title-description {
    position: absolute;
} */

#thumbnails {
    width: 200px;
    position: relative;
    background-color: black;
}

#thumbnails i {
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    z-index: 2;
}

#thumbnails .fa-circle-arrow-up {
    top: 10px;
}

#thumbnails .fa-circle-arrow-down {
    bottom: 10px;
}

.thumbnail {
    width: 100%;
    height: calc(100% / 5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
}

.thumbnail:hover {
    opacity: .7;
    cursor: pointer;
}

/* .tbn-01 {
    background-image: url(../img/brooklyn99.jpg);
}

.tbn-02 {
    background-image: url(../img/sherlock.jpg);
}

.tbn-03 {
    background-image: url(../img/merlin.jpg);
}

.tbn-04 {
    background-image: url(../img/friends.jpg);
}

.tbn-05 {
    background-image: url(../img/vikings.jpg);
} */

.hidden {
    display: none;
}

.active {
    border: 2px solid white;
    opacity: .7;
}